#!/usr/bin/make -f

export QT_SELECT=6
export DH_VERBOSE=1

%:
	dh $@ -Scmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr

override_dh_missing:
	dh_missing --fail-missing
